
@media (max-width: 600px){

    .services{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 500px auto 20px auto;
    }

    .service{ 
        max-width: 80vw;
        margin: 10px auto 20px auto;
    }

    .back h3{
        margin: 20px auto 20px auto;
    }
    
    .back button{
        margin: 10px auto 20px auto;
    }
}